# Config file for experiment 53 by Adam Janin.
# Same as 52, but with shorter pause duration and English

# The minimum pause duration in seconds used by the
# speech/nonspeech detector

min_pause_duration 0.125

# The remainder of this file contains dictionary settings

# The main dictionary
dictionary plain

# Default language
lang en
